footer a {
  color: #ffdb58;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: rgba(0,0,0,0.5); /* opcional: fondo semitransparente */
  font-size: 14px;
  color: #ffffff;
  margin-top: 20px;
}
#flipbook {
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width: 600px) {
  #flipbook {
    width: 100%;
    height: auto;
  }
}